.pokemon {
  display: flex;
  flex-direction: row;
  border: 1px solid lightblue;
  border-radius: 10px;
  width: 300px;
  margin: 5px;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 35%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px; */
}
